.numeros-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 4;
    grid-gap: 30px;
}

.numeros-grid h3 {
    font-size: 2rem;
    font-family: monospace;
    margin-bottom: .5rem;
}

.numeros-grid span {
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    color: #e54;
}

@media (max-width: 700px) {
    .numeros-grid {
        grid-column: 1; 
    }
    
}